<template>
  <require from="./sidebar.css"></require>
  <nav id="sidebar">
    <div class="p-2 pt-5">
      <div></div>
      <ul class="list-unstyled components mb-5">
        <li >
          <a href="#">
            <img class="img logo" src="/sidebar-images/home.png">
            Home
          </a>
        </li>
        <li >
          <a href="">
            <img class="img logo" src="/sidebar-images/order.png">
            Orders
          </a>
        </li>
        <li >
          <a href="">
            <img class="img logo" src="/sidebar-images/invoice.png">
            Ostuarved
          </a>
        </li>
        <li >
          <a href="">
            <img class="img logo" src="/sidebar-images/invoice.png">
            Müügiarved
          </a>
        </li>
        <li >
          <a href="/customers">
            <img class="img logo" src="/sidebar-images/customer.png">
            Kliendid
          </a>
        </li>
        <li >
          <a href="/products">
            <img class="img logo" src="/sidebar-images/product.png">
            Kataloog
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>
