.table-header{
  font-weight: bold !important;
}

.border {
  border-radius: 5px !important;
  border-color: #EAEAEA !important;
}

.main-body {
  background-color: white;
}

.temporary-name{
  background-color: #F1F6F6 !important;
}

.paid tr{
  line-height: 35px;
}

.tab {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  border-bottom: 1px solid #EAEAEA;
}

.back-arrow {
  text-align: center;
  font-size: 25px;
  color:black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  transition: .3s all ease;
}

.back-arrow:hover {
  color: grey;
}

