h1 {
  margin-bottom: 40px;
}

form .header-input {
  margin-bottom: 5px;
}

.back a {
  text-align: center;
  font-size: 25px;
  color:black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  transition: .3s all ease;
}

.back a:hover {
  color: grey;
}
