
div .cards-container {
  background: azure;
}

smart-card {
  width: 95%;
  margin: 8px;
}

table-head {
  margin: 8px;
}

smart-card.basic-card .card-content,
smart-card.basic-card .card-action {
  box-sizing: border-box;
  padding: 10px;
  color: #1d1d1d;
  background-color: #e5e5e5;
  border-bottom: 1px solid rgba(160,160,160,0.2);
  border-radius: 2px 2px 2px 2px;
}

smart-card.basic-card .card-title {
  font-size: 18px;
}

smart-card.basic-card a {
  color: #296d00;
  transition: color .3s ease;
  text-transform: uppercase;
  border-bottom: none;
  text-decoration: none;
}

smart-card.basic-card a:hover {
  color: #37bf08;
}

