.top {
  box-sizing: inherit;
  display: block;
}



.border {
  border-radius: 5px !important;
  border-color: #EAEAEA !important;
}

.main-body {
  background-color: white;
}

.tab {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  border-bottom: 1px solid #EAEAEA;
}

.table-head {
  padding-left: 24px;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  overflow: hidden;
  min-height: 48px;
  box-sizing: inherit;
  color: #3D3D3D;
  font-weight: 400;
  font-size: 30px;
}

tr :hover{
  cursor: pointer;
}



