#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  font-family: "Poppins", Arial, sans-serif !important;
}

.fixed {
  min-width: 1200px !important;
  max-width: 1200px !important;
}

.search-name {
  max-width: 8% !important;
}

.search-bar {
  max-width: 92% !important;
}

.top {
  box-sizing: inherit;
  display: block;
}

.border {
  border-radius: 5px !important;
  border-color: #EAEAEA !important;
}

.main-body {
  background-color: white;
}

.tab {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  border-bottom: 1px solid #EAEAEA;
}

.table-head {
  padding-left: 24px;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  overflow: hidden;
  min-height: 48px;
  box-sizing: inherit;
  color: #3D3D3D;
  font-weight: 400;
  font-size: 30px;
}


table thead tr td :hover {
  cursor: pointer !important;
}
tbody tr :hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .fixed {
    min-width: 600px !important;
    max-width: 600px !important;
  }

  .search-name {
    max-width: 20% !important;
    min-width: 20% !important;
  }

  .search-bar {
    max-width: 80% !important;
    min-width: 80% !important;
  }
}
